{% if page.footer != 0 %}
    <div class="page-footer">
        <span class="copyright">&copy; 2017 趣店技术团队&nbsp;</span><span class="copyright">All rights reserved.</span>
    </div>
{% endif %}


<script src="/public/js/jquery-1.9.1.min.js"></script>
<script src="/public/back2top/back2top.js"></script>
<script src="/public/js/weixin-api.js"></script>

<script>
    // 初始化
    Back2top.init();
    // 让页面高度自然撑开
    window.onload = function(){
        // 移动端的表现
        if(/iPhone|Android/i.test(navigator.userAgent)) {
            // 微信终端的适配
            if(/MicroMessenger/i.test(navigator.userAgent)) {
                document.querySelector('dl.mod-qrcode dt span').style.display = 'inline';
            }

        }else{
            // PC端的适配
            var elContainer = document.querySelector('div.container');
            var ctHeight = elContainer.offsetHeight;
            document.querySelectorAll('.post-lists,.post-detail,.at-page').forEach(function(el){
                var elHeight = el.offsetHeight;
                if(elHeight < ctHeight - 50) {
                    el.style.height = (ctHeight - 50) + 'px';
                }
            });
        }

    };

    // 在微信浏览器中，点击图片，自动进行预览
    (function(){
        var imgList = {
            imgs: [],
            srcs: []
        };
        $.each($('img'), function (i, item) {
            if (item.src && $(item).height() > 80 && $(item).width() > 80) {
                imgList.imgs.push(item);
                imgList.srcs.push(item.src);
                // 修正text-indent
                if (parseInt($(item).css('text-indent'), 10) > 0) {
                    $(item).parent().css('text-indent', 0);
                }
            }
        });

        WeixinApi.ready(function(Api){
            $(imgList.imgs).click(function (e) {
                Api.imagePreview($(this).attr('src'),imgList.srcs);
            });
        });
    })();

    // 百度统计
    var _hmt = _hmt || [];
    (function() {
        if(document.domain != 'localhost') {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e7337c3b879ad27d3ef009a23e1d1e7e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    })();
</script>


</body>
</html>
