<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.title }}_趣店技术学院" />
    <meta name="keywords" content="{{ page.title }},趣店（原趣分期）技术学院,重点关注技术架构,服务化,优秀工具,自动化平台,开发全流程一体化解决方案,新人培养,工程师进阶之道" />
    <title>{{ page.title }} - 趣店技术学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/qit.css">
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">您使用的浏览器版本<strong>过老</strong>，请<a href="http://browsehappy.com/">使用最新的浏览器</a>来提升浏览体验。</p>
<![endif]-->
{% include nav.html %}

