
{% comment %}这个布局用于存放单独的页面，如招聘页。{% endcomment %}

{% include head.html %}

<div class="container">

    <article class="at-page">

        {% if page.date %}
            <div class="article-info">
                <div class="content">
                    {% assign findAvatar=0 %}
                    {% for author in site.data.authors %}
                        {% if author.author == page.author %}
                            <img src="{{ author.avatar }}" onerror="/public/images/avatar/qit.jpg" height="30" />
                            {% assign findAvatar=1 %}
                        {% endif %}
                    {% endfor %}

                    {% if findAvatar == 0 %}
                        <img src="/public/images/avatar/qit.jpg" height="30" />
                    {% endif %}
                    <h1 class="title">{{ page.title }}</h1>
                    <div class="author">{{ page.author }} 发布于 {{ page.date }}</div>
                </div>
            </div>
        {% endif %}


        {{ content }}

    </article>

    {% include sidebar.html %}

</div>


{% include foot.html %}
